$base-font: inter;
$base-font-weight: 300;

$base-font-size-480: 16px;
$base-font-size: 18px;

$light-bg-color: #ffffff;
$dark-bg-color: #efefef;


@mixin none-select
{
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@font-face {
    font-family: inter;
    src: url(Inter-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: inter;
    src: url(Inter-ExtraBold.ttf);
    font-weight: 800;
}

body {
    font-size: $base-font-size;
    font-family: $base-font;
    font-weight: $base-font-weight;
}

a
{
    color: #222;
}

.page-block
{
    border-bottom: 3px solid #aaa;

    .wrapper
    {
        padding: 50px 50px 100px 50px;
        margin: 0 auto;
        max-width: 1400px;
    }

    p 
    {
        padding: 20px 0;
        text-indent: 50px;
        line-height: 150%;
        text-align: justify;
    }
}
.page-block--full
{
    min-height: 100vh;
}

.page-title
{
    font-size: $base-font-size * 2;
    text-transform: uppercase;
    background-color: #3f4441;
    display: block;
    color: #fff;
    width: fit-content;
    box-shadow: 0 0 3px #aaa;
    margin-top: 50px;

    @include none-select;

    p
    {
        text-indent: 0;
        padding: 10px 30px;
        font-weight: 700;
        text-align: left;
        display: inline-block;
    }
}

.page-block--dark
{
    background-color: $dark-bg-color;
}

.page-block--light
{
    background-color: $light-bg-color;
}

.center-image-block {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) 
{
    body
    {
        font-size: $base-font-size-480;
    }

    .page-block .wrapper
    {
        padding: 50px 50px;
    }
}

@media screen and (max-width: 768px) 
{
    .page-block .wrapper
    {
        padding: 50px 50px;
    }

    .page-title
    {
        font-size: $base-font-size * 1.5;
        display: block;
        width: fit-content;

        p
        {
            text-indent: 0;
            padding: 25px 30px;
        }
    }
}

@media screen and (max-width: 480px) 
{
    body
    {
        font-size: $base-font-size-480;
    }

    .page-block .wrapper
    {
        padding: 50px 25px;
    }

    .page-title
    {
        font-size: $base-font-size;
        p
        {
            text-indent: 0;
            padding: 15px 25px;
        }
    }
}